### **Linear Regression of Boston Housing Datatset**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [10]:
X = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
Y = pd.Series(boston_dataset.target)

In [24]:
X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [25]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Length: 506, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
regressor = LinearRegression()
regressor.fit(X_train, Y_train)
Y_pred = regressor.predict(X_test)

In [15]:
predicted_df = pd.DataFrame({'Actual':Y_test, 'Predicted':Y_pred})
predicted_df

     Actual  Predicted
329    22.6  24.889638
371    50.0  23.721411
219    23.0  29.364999
403     8.3  12.122386
78     21.2  21.443823
..      ...        ...
56     24.7  25.442171
455    14.1  15.571783
60     18.7  17.937195
213    28.1  25.305888
108    19.8  22.373233

[102 rows x 2 columns]

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print("Mean Absolute Error (MAE):", mean_absolute_error(Y_test, Y_pred))
print("Mean Squared Error (MSE):", mean_squared_error(Y_test, Y_pred))
print("Root Mean Squared Error (RMSE):", np.sqrt(mean_squared_error(Y_test, Y_pred)))
print("R2 Score (R2):", r2_score(Y_test, Y_pred))

Mean Absolute Error (MAE): 3.8429092204444975
Mean Squared Error (MSE): 33.448979997676496
Root Mean Squared Error (RMSE): 5.783509315085133
R2 Score (R2): 0.5892223849182512