### **Logistic Regression on Banknote Authentication Dataset**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
dataset = pd.read_excel(io.BytesIO(uploaded['banknote_auth_dataset.xlsx']))

Saving banknote_auth_dataset.xlsx to banknote_auth_dataset.xlsx

In [ ]:
dataset

      Variance  Skewness  Kurtosis  Entropy  Authenticity
0      3.62160   8.66610   -2.8073 -0.44699             0
1      4.54590   8.16740   -2.4586 -1.46210             0
2      3.86600  -2.63830    1.9242  0.10645             0
3      3.45660   9.52280   -4.0112 -3.59440             0
4      0.32924  -4.45520    4.5718 -0.98880             0
...        ...       ...       ...      ...           ...
1367   0.40614   1.34920   -1.4501 -0.55949             1
1368  -1.38870  -4.87730    6.4774  0.34179             1
1369  -3.75030 -13.45860   17.5932 -2.77710             1
1370  -3.56370  -8.38270   12.3930 -1.28230             1
1371  -2.54190  -0.65804    2.6842  1.19520             1

[1372 rows x 5 columns]

In [ ]:
X = dataset.drop(['Authenticity'], axis=1)
Y = dataset['Authenticity']

In [ ]:
X

      Variance  Skewness  Kurtosis  Entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [ ]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: Authenticity, Length: 1372, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

In [ ]:
predicted_df = pd.DataFrame({'Actual':Y_test, 'Predicted':Y_pred})
predicted_df

      Actual  Predicted
1023       1          1
642        0          0
1196       1          1
31         0          0
253        0          0
...      ...        ...
1342       1          1
251        0          0
1256       1          1
966        1          1
1096       1          1

[275 rows x 2 columns]

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Accuracy:", accuracy_score(Y_test, Y_pred))
print("\n\nClassification Report: \n\n", classification_report(Y_test, Y_pred))
print("\n\nConfusion Matrix: \n\n", confusion_matrix(Y_test, Y_pred))

Accuracy: 0.9927272727272727


Classification Report:

               precision    recall  f1-score   support

           0       1.00      0.99      0.99       157
           1       0.98      1.00      0.99       118

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275



Confusion Matrix:

 [[155   2]
 [  0 118]]